*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111827;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00e5ff;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}
.hero{
position:relative;
overflow:hidden;
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:120px 20px 80px;
}

.hero h1{
font-size:64px;
font-weight:800;
line-height:1.1;
margin-bottom:20px;
z-index:2;
}
..hero p{
font-size:22px;
max-width:900px;
margin-top:20px;
margin-bottom:35px;
padding:30px;

background:rgba(255,255,255,.05);
border:1px solid rgba(255,255,255,.1);
backdrop-filter:blur(20px);

border-radius:20px;
}

.hero-buttons{
display:flex;
gap:20px;
z-index:2;
}

.btn{
padding:16px 35px;
background:#00e5ff;
color:black;
border-radius:12px;
font-weight:bold;
text-decoration:none;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
}

.btn2{
padding:16px 35px;
border:2px solid #00e5ff;
color:#00e5ff;
border-radius:12px;
font-weight:bold;
text-decoration:none;
transition:.3s;
}

.btn2:hover{
background:#00e5ff;
color:black;
}

.glow{
position:absolute;
border-radius:50%;
filter:blur(120px);
}

.glow1{
width:300px;
height:300px;
background:#00e5ff;
top:100px;
left:-100px;
opacity:.25;
}

.glow2{
width:300px;
height:300px;
background:#00ff95;
bottom:50px;
right:-100px;
opacity:.20;
}
.
.btn{
padding:15px 35px;
background:#00e5ff;
color:black;
text-decoration:none;
font-weight:bold;
border-radius:10px;
}
.semester-section{
padding:100px 10%;
}

.semester-section h2{
text-align:center;
font-size:42px;
margin-bottom:50px;
color:#00e5ff;  
}

.semester-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.card{
background:rgba(255,255,255,.05);
border:1px solid rgba(255,255,255,.1);
backdrop-filter:blur(20px);

padding:30px;

border-radius:20px;

text-align:center;

font-size:24px;
font-weight:bold;

color:white;
text-decoration:none;

transition:.4s;
}

.card:hover{
transform:translateY(-10px);

border-color:#00e5ff;

box-shadow:0 0 30px rgba(0,229,255,.4);
}
@media(max-width:900px){

.semester-grid{
grid-template-columns:repeat(2,1fr);
}

.hero h1{
font-size:45px;
}

}

@media(max-width:600px){

.semester-grid{
grid-template-columns:1fr;
}

}
.subject-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:20px;
}

.subject-card{
background:white;
padding:20px;
border-radius:15px;
text-decoration:none;
color:black;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.subject-card h3{
margin:0;
}

.subject-card p{
margin-top:10px;
color:gray;
}
